body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --label-12x: Inter;

  /* font sizes */
  --label-12x-size: 12px;

  /* Colors */
  --brand-color-brand-500: #748ffc;
  --others-white: #fff;
  --neutral-color-neutral-800: #212529;
  --neutral-color-neutral-600: #868e96;
  --neutral-color-neutral-700: #48494b;

  /* Gaps */
  --gap-9xs: 4px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-5xs: 8px;
}
