.background-icon1,
.wrapper-background1 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background-icon1 {
  object-fit: contain;
  left: -1px;
  top: -1px;
  transform: scale(1.164);
}
.wrapper-background1 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-answer1 {
  position: absolute;
  top: 127px;
  left: 200.5px;
  line-height: 18px;
  font-weight: 500;
  display: none;
}
.graph-icon1,
.oval-icon2 {
  position: absolute;
  top: 145px;
  left: 0;
  width: 392px;
  height: 159px;
  z-index: 1;
}
.oval-icon2 {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  left: -1px;
  top: -1px;
  transform: scale(7.25);
}
.wrapper-oval1 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oval-stroke-icon2,
.wrapper-oval-stroke1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.oval-stroke-icon2 {
  object-fit: contain;
  left: -1px;
  top: -1px;
  transform: scale(3.778);
}
.wrapper-oval-stroke1 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-option,
.oval-icon3 {
  position: absolute;
  top: 176px;
  left: 36.5px;
  width: 18px;
  height: 18px;
}
.oval-icon3 {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  left: -1px;
  top: -1px;
  transform: scale(7.25);
}
.wrapper-oval2 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oval-stroke-icon3,
.wrapper-oval-stroke2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.oval-stroke-icon3 {
  object-fit: contain;
  left: -1px;
  top: -1px;
  transform: scale(3.778);
}
.wrapper-oval-stroke2 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-option1 {
  position: absolute;
  top: 171px;
  left: 234.5px;
  width: 18px;
  height: 18px;
}
.combined-shape-icon2 {
  width: 100%;
  height: 100%;
  z-index: 4;
  object-fit: contain;
  position: absolute;
  left: -1px;
  top: -1px;
  transform: scale(2.832);
}
.wrapper-combined-shape2 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 104px;
  height: 27.3px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.combined-shape-stroke2 {
  width: 100%;
  height: 100%;
  z-index: 5;
  object-fit: contain;
  position: absolute;
  left: -1px;
  top: -1px;
  transform: scale(2.706);
}
.wrapper-combined-shape-stroke2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music1 {
  position: absolute;
  top: 6px;
  left: 32px;
  font-size: var(--label-12x-size);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--label-12x);
  color: var(--neutral-color-neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 42px;
  z-index: 6;
}
.answer-option2,
.wrapper-combined-shape-stroke-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.answer-option2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 258px;
  left: 17px;
  width: 106px;
  height: 29.3px;
}
.combined-shape-icon3 {
  width: 100%;
  height: 100%;
  z-index: 4;
  object-fit: contain;
  position: absolute;
  left: -1px;
  top: -1px;
  transform: scale(2.832);
}
.wrapper-combined-shape3 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 104px;
  height: 27.3px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.combined-shape-stroke3 {
  width: 100%;
  height: 100%;
  z-index: 5;
  object-fit: contain;
  position: absolute;
  left: -1px;
  top: -1px;
  transform: scale(2.706);
}
.wrapper-combined-shape-stroke3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.producer1 {
  position: absolute;
  top: 6px;
  left: 23px;
  font-size: var(--label-12x-size);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--label-12x);
  color: var(--neutral-color-neutral-600);
  text-align: left;
  display: inline-block;
  min-width: 61px;
  z-index: 6;
}
.answer-option3,
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.answer-option3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 257px;
  left: 140px;
  width: 106px;
  height: 29.3px;
}
.text-show {
  width: 119px;
  position: relative;
  font-size: var(--label-12x-size);
  line-height: 18px;
  font-weight: 500;
  font-family: var(--label-12x);
  color: var(--others-white);
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.plus-icon {
  height: 12px;
  width: 12px;
  position: relative;
}
.buton-answer1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--brand-color-brand-500);
  position: absolute;
  top: 131px;
  left: 95px;
  border-radius: var(--br-5xs);
  width: 205px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  white-space: nowrap;
  z-index: 4;
}
.buton-answer1:hover {
  background-color: #5c75e3;
}
.blank-line1,
.of-the-rock1,
.who-is-the1 {
  margin: 0;
}
.text-question1 {
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.icon2 {
  height: 12px;
  width: 12px;
  position: relative;
  display: none;
}
.question-whiteback1 {
  position: absolute;
  top: 50px;
  left: 95px;
  border-radius: var(--br-5xs);
  background-color: var(--others-white);
  width: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  z-index: 4;
}
.answer-options,
.sine-wave-path1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.answer-options {
  left: 0.5px;
  text-align: center;
  color: var(--neutral-color-neutral-800);
}
.sine-wave-path1 {
  left: -0.5px;
  overflow: hidden;
  z-index: 1;
}
.wrapper-background-group {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 392px;
  text-align: left;
  font-size: var(--label-12x-size);
  color: var(--neutral-color-neutral-700);
  font-family: var(--label-12x);
}
.bookmark-icon1 {
  position: absolute;
  top: 0;
  left: 376px;
  width: 27px;
  height: 28px;
  z-index: 4;
}
.web-quiz-question1 {
  width: 100%;
  height: 304px;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
